.regras{
    height: auto;
    width: 720px;
    position: relative;
    background-color: #232128d9;
    justify-content: center;
    margin-top: 50px ;
    margin-bottom: 50px;
    left: 50%;
    border: #9c898d 3px solid;
    display: flex;
    flex-direction: column;
    transform: translateX(-50%);
    color: white;
}

.regras span{
    font-size: 3em;
    text-align: center;
    
}


.regras li{
    font-size: 2em;
    margin-bottom: 10px;
    color: white;
}

.regras p{
    font-size: 2.2em;
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

@media only screen and (max-width: 600px){
    .regras{
        height: 400px;
    width: 420px;
    background-color: #232128d9;
    justify-content: center;
    margin: 0;
    border: #9c898d 3px solid;
    }

    .regras span{
        font-size: 30px;
        text-align: center;
        margin-top: 0;
    }
    
    
    .regras li{
        font-size: 10px;
        margin-bottom: 5px;
        color: white;
    }
    
    .regras p{
        font-size: 20px;
        margin-top: 5px;
        font-family: Georgia, 'Times New Roman', Times, serif ;
    }


}
