@font-face{
    font-family: Averia;
    src: url(fontes/AveriaSerifLibre-Bold.ttf);
    font-family: FFF;
    src: url(fontes/FFFFORWA.TTF);
}

body{
    margin-top: 170px;
    background-color: white;
}
.exibir{
    display: flex;
    justify-content: center;
    
}
 td, th {  
    border: 1px solid #fff;
    text-align: left;
  }
.exibir table{
  width: 600px;
  border-color: white;
  padding: 30px;
}

.contentTime{
    border: black 2px solid;
    border-radius:25px ;
    margin-bottom: 30px;
}

.exibir th:nth-of-type(1){
    font-family: FFF;
}


.exibir td, th {
    color: black;
    font-size: 50px;
}

th{
    border-bottom: 3px black solid;
    white-space: nowrap;
}


.exibir tr td:nth-of-type(1) {
    
    border: none !important;
    font-family: FFF;
}

.exibir tr td:nth-of-type(2) {
    
    border: none !important;
    font-family: fantasy;
}

.btnTime{
    padding: 20px 20px;
    word-wrap: none;
    font-size: 20px;
    word-break: normal;
    cursor: pointer;
    white-space:nowrap;
    border-radius: 4px;
    border: none;
    
}

tr td:nth-of-type(4) button{

    background-color: #47DE72;
}
tr td:nth-of-type(3) button{
    background-color: #9487FA;
}

.sair{
    background-color: #DE3142 !important;
}