@font-face{
    font-family: login;
    src: url('fontes/GROBOLD.ttf');
}
@font-face{
    font-family: college;
    src: url(fontes/Collegier.ttf);
}

body{
    overflow-y: scroll;
}
.Cadastro{
    display: flex;
    /* position: relative; */
    align-items: center;
    height: 1100px;
    background-color: rgb(255, 255, 255);
}
a:last-child:hover{
    color: gray;
}
 .formCadastro{
    width: 640px;
    background-color: rgba(0, 0, 0, 0.698);
    padding: 20px 40px 40px;
    
    font-size: 2em;
    border-radius: 24px;
    border: none;
    margin-left: 80px;
    float: left;
}

/* .formCadastro{
    background-color: rgba(0, 0, 0, 0.698);
    
} */

label{
    color: white; 
    font-size: 30px;
    word-wrap: break-word;
    font-family:  fantasy;
}

.image{
    background: no-repeat url('https://i.ya-webdesign.com/images/arcade-drawing-ezreal.png');
    float: right;
    height: 700px;
    width: 1711px;
}

.NomeLogin{
    padding-right: 1px;
    margin-bottom:40px ;
    font-size: 1em;
    transition: border 0.51s;
    color: black;
}

span:first-child{
    font-family: login;
    margin-bottom: 200px;
}
.senhaLogin{
    
    margin-bottom:25px ;
    font-size: 1em;
}

.formLogin span, .formCadastro span{
    width: 400px;
    color: white;
    font-size: 50px;
}



.btnEntrar, .btncadastrar{
    padding: 10px  155px ;
    font-size: 30px;
    cursor: pointer;
    background: grey;
    color: white;
    border: none;
    transition: color 0.5s;
}

select, option{
    cursor: pointer;
}

.btnEntrar:hover, .btncadastrar:hover{
    
    background: white;
    color: black;
    border: none;
}


.confirmar{
    padding-left:0;
    
}
 

span{
    padding-left: 21%;
}

.btncadastrar{
    padding: 10px  134px ;
}

select{
    background-color: rgb(25, 25, 25);
    color: white;
    border: none;
    font-family: fantasy;
    height: 40px;
}
.campos label{
    position: absolute;
    top: 0;
  left: 10px;
  width: 100%;
  color: #000;
  transition: 0.2s all;
  cursor: text;
}

.campos{
    top: 10px;
    position: relative;
  width: 100%;
  height: 100px;
}

.divSelect{
    display: grid;
    grid-template-columns: repeat(5, 75px);
    grid-template-rows: repeat(2, 75px);
    
}

.divSelect select{
    border-radius: 5px;
}
.divSelect select:focus{
    border: 1px white solid;
}

input{
    outline: 0;
    width: 100%;
    appearance: none;
    border-top:none ;
    border-left:none ;
    border-right:none ;
    border-bottom: solid white;
    background-color: whitesmoke;
    background: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    
}
input[type=date]{
    width: auto;
    position: static;
    margin-top: 0;
}

.campos.ativar label{
    top: -32px;
    left: 0;
    color: #fff;

}


label:last-child{
    font-style: normal;
}
.btncadastrar{
    padding: 10px  134px ;
}


#aceitar{
    cursor: pointer;
    width: 20px;
    margin-top: 0;
}

#lblaceitar{
    font-size: 25px;
    width: 30px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
