.entrada{
    text-align: center;
    background-color: rgba(47, 79, 79, 0.459);
    margin: 0px;
    margin-top: 50px;
    border: 5px gold double;
    align-items: center;
}

.entrada span{
    font-size: 3em;
    font-family: FFF;
    color: white;
}

.btnIsc{
    align-items: center;
    margin-top: 50px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 27px;
    /* appearance: none; */
    background:none;
    border: 1px white solid !important;
    color: white !important;
    cursor: pointer;
    transition: all 0.2s;
    margin-bottom: 50px;
    font-family: FFF;
    height: 70px;
    margin-left: 50%;
    transform: translateX(-50%);
}
a {
text-decoration:none ;
color: white !important;
}
.btnIsc:hover{
    background-color: #252525;
}

.inicioVic{
    background-repeat: no-repeat;
    background-image: url(imagens/derrota.PNG);
    width: 100%;
    height: 720px;
    border: 1px white solid;

}

.inicioVic p{
    color: white;
    position: absolute;
    font-family: FFF;
    left: 50%;
    transform:  translateX(-50%);
    font-size: 2em;
}

.inicioVic img{
    justify-content: space-around;
}

.Container{
    border: 5px #a5aead dashed ;
    text-align: center;
    margin-top: 250px;
}
.Container p{
    font-size: 2em;
    font-family: FFF;
    color: white;
}

.square{
    display: flex;
    width: 100%;
    justify-content:space-around ;
    margin-top: 15px;
    height: 720px;
    
    
}

.square p{
    font-size: 1em;
}

.square div{
    height: 400px;
    width: 400px;
    margin-top: 150px;
    background-color: #a5aead;
    border: white 2px dotted;
    min-width: 400px;
}

.data span{
    font-size: 7.5em;
    margin-top: 50px;
    font-family: FFF;
}

 p .maio{
    font-size: 8em;
}

@media only screen and (max-width: 600px){
    .inicioVic {
        display: none;
    }
    
    .btnIsc{
        font-size: 20px;
        /* word-break: break-all; */
    }
    .entrada span{
        font-size: 20px;
       
    }
    .square p{
        font-size: 11px;
    }
    .square{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }

    .square div{
        height: 200px;
        width: 200px;
        margin: 0px;
        background-color: #a5aead;
        border: white 2px dotted;
        min-width: 200px;
    }

    .square img{
        height: 100px;
        width: 100px;
    }
    .data span{
        font-size: 30px;
        margin-top: 20px;
        font-family: FFF;
    }
    
     p .maio{
        font-size: 10px;
    }

    .Container{
        margin: 0;
    }

}