@font-face{
    font-family: Averia;
    src: url(AveriaSerifLibre-Bold.ttf);
    font-family: FFF;
    src: url(FFFFORWA.TTF);
}
*{
    outline: 0;
    top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    
}

.Menu{
    display: flex;
    justify-content: space-between;
    background-color: #232128;
    width: 100%;
    border-bottom: 0px;
}

body{
    background-color: black;
}

.logo{
    width: 200px;
}

.nav{
    display: flex;
    
}

.nav li{
    padding-right: 25px;
    color: white;
    background-color:#23212888 ;
    text-decoration: none;
    list-style: none;
    font-size: 2em;
    text-transform: uppercase;
}

.nav a{
    text-decoration: none;
    list-style: none;
}

.nav  a .select{
    color: #a5aead;
}
/* .Logo{
    font-family: Averia;
    font-size: 145px;
    padding-left: 10px;
    border-top: #4D95FF 15px solid;
    border-left: #4D95FF 15px solid;
    border-right: solid #FF1A20 15px;
    border-bottom: solid #FF1A20 15px;
    

} */

/* Inicio */

.entrada{
    text-align: center;
    background-color: rgba(47, 79, 79, 0.459);
    margin: 0px;
    margin-top: 50px;
    border: 5px gold double;
    align-items: center;
}

.entrada span{
    font-size: 3em;
    font-family: FFF;
    color: white;
}

.btnIsc{
    align-items: center;
    margin-top: 50px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 27px;
    appearance: none;
    background:none;
    border: 1px white solid;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
    margin-bottom: 50px;
    font-family: FFF;
}

.btnIsc:hover{
    background-color: #252525;
}

.inicioVic{
    background-image: url(imagens/vitoria.jpg);

    height: 720px;
    border: 1px white solid;
    position: relative;
}

.inicioVic p{
    color: white;
    position: absolute;
    font-family: FFF;
    left: 50%;
    transform:  translateX(-50%);
    font-size: 2em;
}

.inicioVic img{
    justify-content: space-around;
}

.Container{
    border: 5px #a5aead dashed ;
    text-align: center;
    margin-top: 250px;
}
.Container p{
    font-size: 2em;
    font-family: FFF;
    color: white;
}

.square{
    display: flex;
    width: 100%;
    justify-content:space-around ;
    margin-top: 15px;
    height: 720px;
    
    
}

.square p{
    font-size: 1em;
}

.square div{
    height: 400px;
    width: 400px;
    margin-top: 150px;
    background-color: #a5aead;
    border: white 2px dotted;
}

.data span{
    font-size: 7.5em;
    margin-top: 50px;
    font-family: FFF;
}

 p .maio{
    font-size: 8em;
}

/* Rodapé */

.rodape{
    background-color:  #232128;
    display: flex;
    text-align: center;
    margin-bottom: 0px;

 


}

.rodape p{
    margin-left: 250px ;
    font-size: 2em;
}

/* regras */



.regras{
    height: 560px;
    width: 720px;
    background-color: #232128d9;
    justify-content: center;
    margin-top: 50px ;
    margin-bottom: 150px;
    margin-left: 560px;
    border: #9c898d 3px solid;
    
}

.regras span{
    font-size: 3em;
    text-align: center;
}


.regras li{
    font-size: 2em;
    margin-bottom: 10px;
    color: white;
}

.regras p{
    font-size: 2.2em;
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

/* Premios */

.premios{
    height: 1000px;
    margin-top: 40px;
    
}

.divisao, .divisao2{
    height: 25%;
}

.divisao2{
    
    justify-content: space-around;
    display: flex;
    
}

.terceiro, .segundo, .primeiro{
    width: 500px;
    height:  500px;
    background-color: white;
    text-align: center;
    min-width: 500px;
}

.primeiro{
    background-color: #232128d9;
    border: gold 5px solid;
}

.segundo{
    background-color: #232128;
    border: silver 5px solid;
}

.terceiro{
    background-color: #232128;
    border: orangered 3px solid;
}

.divisao img, .divisao2 img{
    height: 100px;
}


.divisao span{
    font-size: 30px;
    color: white;
}
 .divisao2 span{
    font-size: 32px;
    color: white;
}



.faixa {
    width: 250px;
    height: 50px;
    background-color: white;
}

/* Login */
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    background-color: rgb(220, 220, 220);
}

.formLogin, .formCadastro{
    width: 400px;
    
    background-color: rgba(0, 0, 0, 0.698);
    padding: 20px 40px 40px;
    text-align: center;
    font-size: 2em;
    
    border: rgba(0, 0, 0, 0.472) 3px solid;
}

.formCadastro{
    background-color: rgba(0, 0, 0, 0.698);
}



.NomeLogin{
    padding-right: 1px;
    margin-bottom:40px ;
    font-size: 1em;
    transition: border 0.51s;
}


.senhaLogin{
    
    margin-bottom:25px ;
    font-size: 1em;
}

.formLogin span, .formCadastro span{
    width: 400px;
    color: white;
    font-size: 50px;
    
}



.btnEntrar, .btncadastrar{
    padding: 10px  155px ;
    font-size: 30px;
    cursor: pointer;
    background: grey;
    color: white;
    border: none;
}

.btncadastrar{
    padding: 10px  134px ;
}