@font-face{
    font-family: Averia;
    src: url(fontes/AveriaSerifLibre-Bold.ttf);
    font-family: FFF;
    src: url(fontes/FFFFORWA.TTF);
}
*{
    outline: 0;
    top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    
}

body{
    height: 100%;
    width: 100%;
}
.nav   li{
    font-family: FFF;
}



.Menu{
    display: flex;
    justify-content: space-between;
    background-color: #232128;
    width: 100%;
    border-bottom: 0px;
    position: fixed;
    height: auto;
    z-index: 1;
    flex-wrap: wrap;
    
}


body{
    background-color: black;
    margin-top: 190px;
    width: 100%;
}

.logo{
    width: 200px;
}

.nav{
    display: flex;
}


.nav li {
    padding-right: 25px;
    color: white;
    background-color:#232128 ;
    text-decoration: none;
    list-style: none;
    font-size: 2em;
    text-transform: uppercase;
}


.nav a, button > a{
    text-decoration: none;
    list-style: none;
    
}

button > a{
    color: black;
}
.nav a{
    color: white;
}


/* ul>a:nth-child(4){
    padding: 12px 10px;
    display: none;
    color: black;
    background-color: yellow;
} */

.nav   .select a{
    color: #adff2f !important;
}

@media only screen and (max-width: 600px){

    .Menu,  .nav{
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        height: auto;
    }

    body{
        margin-top: 300px;
    }
}

.btnlogin{
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 5px;
    font-family: FFF;
    cursor: pointer;
    box-shadow: 2px 1px;
    display: block;
}

/* .Logo{
    font-family: Averia;
    font-size: 145px;
    padding-left: 10px;
    border-top: #4D95FF 15px solid;
    border-left: #4D95FF 15px solid;
    border-right: solid #FF1A20 15px;
    border-bottom: solid #FF1A20 15px;
    

} */

/* Inicio */



/* Rodapé */

.rodape{
    background-color:  #232128;
    display: flex;
    text-align: center;
    margin-bottom: 0px;
    flex-wrap: wrap;
    width: 100%;


}

.rodape p{
    margin-left: 250px ;
    font-size: 2em;
    color:white ;
}


@media only screen and (max-width: 600px){
    .rodape p{
        margin-left: 0px ;
        font-size: 2em;
    }

    .rodape img{
        height: 75px;
    }

}
/* regras */





/* Premios */




/* Login */


 .btncadastro:first-child{
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px !important;
    font-family: FFF;
    cursor: pointer;
    margin: 0;
    box-shadow: 2px 1px !important;
    background-color: greenyellow !important; 
    color: black;
    display: block;
}

/* .btnlogin,.btncadastro{
    display: none !important;
} */